ul {
  list-style: none;
}
/* Logo */

.webstudio {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.studio {
  color: #000000;
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Навігація */

.nav-menu .link {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: rgba(33, 150, 243, 1);
}

.auth-item {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auth-item:hover,
.auth-item:focus {
  color: rgba(33, 150, 243, 1);
}

/* Main */
.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  color: rgba(33, 33, 33, 1);
  letter-spacing: 0.06em;
}

.section-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.03em;
}

/* Підвал */

.footer {
  background: rgba(47, 48, 58, 1);
}

.webstudio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
}

.logo {
  color: #ffffff;
}

.street {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}

.foooter-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
