* {
  magrin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 1600px;
  height: 1880px;
  background: #ffffff;
}

.topbar {
  margin-bottom: 100px;
  background: #ffffff;
  display: flex;
}

nav ul li {
  display: inline;
}
.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-left: 215px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
nav ul li a {
  text-decoration: none;
}

.studi {
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  padding-left: 93px;
  padding-top: 32px;
}

.portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #2196f3;
}

.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #212121;
}

.mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 331px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
}

.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 50px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
}
