* {
  magrin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  height: 1880px;
  background: #ffffff;
}

.header {
  background: #ffffff;
}

nav ul li {
  display: inline;
}

.webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-left: 215px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
nav ul li a {
  text-decoration: none;
}

.studi {
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 93px;
  padding-top: 32px;
  color: #2196f3;
}

.portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #212121;
}

.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #212121;
}

.mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 331px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
}

.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 50px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}
.main {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.buttonname {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.mainitem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.secondaryiitem {
  font-family: "Roboto" o;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.ourjob {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.midlecontainer {
  background-color: #e5e5e5;
}

.ourteam {
  background: #f5f4fa;
}

.team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}

.profession {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
}

.footer {
  background: #2f303a;
}

.sstudio {
  color: white;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.maill {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.tell {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
